.App {
  margin: 2rem auto;
  text-align: center;
  width: 50vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

table {
  text-align: left;
  width: 100%;
}

tr:nth-child(odd) {
  background: #eee;
}

td {
  padding: 0.25rem 1rem;
}

button, .button {
  background: teal;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  margin: .5rem 1rem;
  padding: .5rem 1rem;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
